:root {
  --nav-bar-color: #648485f0;
  --box-shadow-nav-bar: 0px 2px 10px rgba(0, 85, 74, 0.507);
}

.btn-navbar {
  display: block;
}
.btn-mobile-navbar {
  display: none;
}
.navbar-container {
  background-color: var(--nav-bar-color);
  box-shadow: var(--box-shadow-nav-bar);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: clamp(300px, 12vw, 400px);
  border-radius: 19px;
}
@media (max-width: 768px) {
  .btn-navbar {
    display: none;
  }
  .btn-mobile-navbar {
    display: block;
  }
  .navbar-container {
    flex-direction: column;
    width: 50px;
  }
}
